<nav>
  <div id="nav">
    <div id="nav-left"><a href="/skins">Browse Skins</a></div>
    <div id="nav-right">
      <a href="/skins/users/<%= user._id %>">My Inventory</a>
      <a href="/auth/sign-out">Sign out</a>
    </div>
  </div>
</nav>