<%- include('./partials/_head.ejs') %>
  <title>Home Page</title>
</head>
<body>
  <h1>CS Locker</h1>
  <% if (user) { %>
    <p>Welcome, <%= user.username %>!</[]>
    <p>
      <a href="/skins">Index</a>
      <a href="/auth/sign-out">Sign out</a>
    </p>
  <% } else { %>
    <p>Sign up or sign in to track your inventory and view other's items</p>
    <p>
      <a href="/auth/sign-up">Sign up</a> or
      <a href="/auth/sign-in">Sign in</a>.
    </p>
  <% } %>
</body>
</html>
