<%- include('./partials/_head.ejs') %>
  <title>Home Page</title>
</head>
<body>
  <div id="modal">
    <div id="modal-text">
      <h1 id="homepage-h1">CSLocker</h1>
      <img src="./images/CS_locker_logo2.png" id="homepage-logo" alt="logo">
      <% if (user) { %>
        <p>Welcome, <%= user.username %>!</[]>
        <p>
          <a href="/skins"><button>Index</button></a>
          <a href="/auth/sign-out"><button>Sign out</button></a>
        </p>
      <% } else { %>
        <p>Keep track of your CS weapon skin inventory!</p>
        <p>
          <a href="/auth/sign-in"><button id="index-button">sign in</button></a>
          <a href="/auth/sign-up"><button id="index-button">sign up</button></a> 
        </p>
      <% } %>
    </div>
  </div>
</body>
</html>
