* {
  box-sizing: border-box;
}

body {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
}

img {
  height: 200px;
  width: auto;
  text-align: center;
}

hr {
  border-style: solid;
  height: 4px;
  width: 100%;
}
#weaponDiv {
  border: 2px solid black;
  border-radius: 10px;
  width: 300px;
  margin: 6px;
  padding: 6px;
}