<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Skin Page</title>
</head>
<body>
  <h1>Add a Skin to your Inventory!</h1>
  <form action="/skins" method="POST">
    <label for="weapon">Weapon: </label>
    <select name="weapon" id="weapon" required>
      <% weapons.forEach(weapon => { %>
        <option value="<%= weapon %>"><%= weapon %></option>
      <% }) %>
    </select>

    <label for="price">Price: </label>
    <input type="text" name="price" id="price" required>

    <label for="float">Float: </label>
    <input type="range" name="float" id="float" min="0.0" max="1.0" step="0.001" value="0.5"> 

    <button type="submit">Submit</button>
  </form>
</body>
</html>