<%- include('../partials/_head.ejs') %>
  <title>Add a Skin</title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <div id="index-container">
    <div id="index-header" class="new-header">
      <h2>Add a Skin to your Inventory!</h2>
    </div>
    <div id="weapon-show-wrapper">
      <div id="weapon-new-div">
        <form action="/skins" method="POST">
          <div id="new-image-container">
            <img src="/images/CS_knives.png" id="skin-image-new" alt="selected skin image">
          </div>
          <hr id="new-ruler">
          <div id="new-form-controls">
            <input type="text" id="weapon-search" placeholder="  search weapons...">
            <select name="weapon" id="weapon" required></select>
            
            <label for="price" id="price-label">Price: </label>
            <input type="text" name="price" id="price" required>
          
            <label for="float" id="float-label">Float: <span id="slider-output">0.5</span></label>
            <input type="range" name="float" id="float" min="0.001" max=".99" step="0.001" value="0.5">
            <div id="new-button-div">
              <button type="submit">submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script src="/search-script.js"></script>
</body>
</html>